<!DOCTYPE html>
<html>
     <head>
          <meta charset="utf-8">
          <title>Izvēle</title>
     </head>
     <body>
       <h1>Izvēle</h1>
       <h3>Jūs izaicina pretinieks!</h3>
       Vai vēlies cīnīties?<br>
       Jūsu dzīvības punkti: 100<br>
       <br><a href="/spele_kauja"><button type = "button">Jā</button></a><br>
       <br><a href="/sakt_speli"><button type = "button">Nē, doties atpakaļ uz profila pārskatu</button></a><br>
       <br><a href="/"><button type = "button">Uz sākumu</button></a>
     </body>
</html>