<!DOCTYPE html>
<html>
     <head>
          <meta charset="utf-8">
          <title>Kauja</title>
     </head>
     <body>
       <h1>Kauja</h1>
       Tu zaudēji {{ hp_zaudets }} dzīvības punktus!<br>
       Tu ieguvi {{ xp_ieguts }} kaujas punktus!<br><br>

       Šobrīdējie dzīvības punkti: {{ hp }}<br>
       Savāktie kaujas punkti: {{ xp }}<br><br>

       Vai vēlies turpināt kauju vai beigt spēli?
       <br><a href="/spele_kauja"><button type = "button">Turpināt kauju</button></a><br>
       <a href="/beigas"><button type = "button">Beigt spēli</button></a>
     </body>
</html>